<%- include("partials/header") -%>
<!-- css -->
<link rel="stylesheet" href="css/style2.css">
<%- include("partials/nav") -%>

<main>
    <div class="individual container secao">
        <h2>Dados cada ativo</h2>
        <table class="table table-striped">
            <tr>
                <th>Ativo</th>
                <th>Espectativa de Retorno(a.m)</th>
                <th>Risco</th>
            </tr>
            <%results[0].forEach(element => {%>
            <tr>
                <td><%=element.name%></td>
                <td><%=element.retorno%>%</td>
                <td><%=element.risco%>%</td>
            </tr>
            <%});%>
        </table>
    </div>

    <%for (let i = 1; i < results.length; i++) {%>
    <%if (i%2===1){%>
        <div class="impar secao">
    <%}else {%>
        <div class="par secao">
    <%}%>   
            <h2>Carteiras com <%=(i+1)%> ativos</h2>
            <div class="container">
                <div class=" row">
                    <%for (let k = 0; k < results[i].length; k++) {%>
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                <table class="table table-sm">
                                    <tr>
                                        <th>Ativo</th>
                                        <th>Peso</th>
                                    </tr>
                                    <%for (let j = 0; j <= i; j++) {%>
                                    <tr>
                                        <td><%=results[i][k].name[j]%></td>
                                        <td><%=results[i][k].pesos[j]%>%</td>
                                    </tr>
                                    <%}%>
                                </table>
                                </div>
                                <div class="card-body">
                                    <p>Retorno (a.m): <%=results[i][k].retorno%>%</p>
                                    <p>Risco: <%=results[i][k].risco%>%</p>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        </div> 
    <%}%>
</main>


<%- include("partials/footer") -%>